
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pool{
    height: 400px;
    width: 500px;
    border: .2rem solid;
    display: flex;
    flex-direction: column-reverse;
}

.Water{
    height: 100px;
    background: blue;
}

.pool{
    color: blue;
}